*{
	margin: 0;
	padding: 0;
}


html , body{
	min-height: 100%;
}


.planetx{

	padding:1rem;
	text-align: center;
	color: white;
}




body{
	background-image: url("lings.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: auto;

}

.embark{

	color: white;
	padding:1rem;
	margin-top: 5rem;
	text-align: center;
	
}

.jout{

	font-family: 'Cinzel', serif;


}

.form{

	text-align: center;
	padding: 1rem;
	margin-top: 4rem;
}

.form h2{
	color: white;
	font-size: 1.5rem;

}

.form input{
	width: 10rem;
	border-radius: 1rem;
	padding: 0.6rem;
}

.img{

	text-align: center;
	margin-top: 1.5rem;
}

.img img{
	border-radius: 5rem;
	cursor: pointer;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	    html{
  	font-size: 12px;
  }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    html{
  	font-size: 12px;
  }


} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  html{
  	font-size: 14px;
  }


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    html{
  	font-size: 15px;
  }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


  html{
  	font-size: 16px;
  }



}










