


*{
	margin: 0;
	padding: 0;
}

h1{
	color: white;
}


body{
	background-image: url("spec.jpg");

}

html , body{
	min-height: 100%;
}

.head{
	border: 1px solid white;
	text-align: center;
	margin-top: 3rem
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  html{
   	font-size: 12px;
   }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
    html{
   	font-size: 15px;
   }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
   html{
   	font-size: 17px;
   }



} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    html{
   	font-size: 19px;
   }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
   html{
   	font-size: 19px;
   }


}

