


*{
	margin: 0;
	padding: 0;
}

h1{
	color: white;
}


body{
	background-image: url("spec.jpg");

}

html , body{
	min-height: 100%;
}

.head{

	text-align: center;
	margin-top: 3rem
}

#header{
	font-family: 'Cinzel', serif;
}

.headed{

	text-align: center;
	margin-top: 4rem;
	color: white;
	font-family: 'Margarine', cursive;

}

select { font-size: 1.3em;
          padding:1rem;
         -webkit-appearance: none;
         -moz-appearance: none;
          appearance: none;

          background: black;
          color: white;
          outline: none;
          margin-top: 3rem;
        font-family: 'Cinzel', serif;

          
        }

.planet{

	text-align: center;

}

 .butt{

  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
 }

 button{
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
 }

 button:hover{
  background-color: green;
  cursor: pointer;
 }



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  html{
   	font-size: 12px;
   }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
    html{
   	font-size: 15px;
   }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
   html{
   	font-size: 17px;
   }



} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    html{
   	font-size: 19px;
   }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
   html{
   	font-size: 19px;
   }


}

